@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Fitzgerald';
  src: url('/font/Fitzgerald-Font/Fitzgerald-Regular.woff2') format('woff2'),
       url('/font/Fitzgerald-Font/Fitzgerald-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fitzgerald';
  src: url('/font/Fitzgerald-Font/Fitzgerald-Italic.woff2') format('woff2'),
       url('/font/Fitzgerald-Font/Fitzgerald-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Fitzgerald-Italic';
  src: url('/font/Fitzgerald-Font/Fitzgerald-Italic.woff2') format('woff2'),
       url('/font/Fitzgerald-Font/Fitzgerald-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fitzgerald-Italic';
  src: url('/font/Fitzgerald-Font/Fitzgerald-Italic.woff2') format('woff2'),
       url('/font/Fitzgerald-Font/Fitzgerald-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Fitzgerald-Italic';
  src: url('/font/Fitzgerald-Font/Fitzgerald-BoldItalic.woff2') format('woff2'),
       url('/font/Fitzgerald-Font/Fitzgerald-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fitzgerald-Italic';
  src: url('/font/Fitzgerald-Font/Fitzgerald-BoldItalic.woff2') format('woff2'),
       url('/font/Fitzgerald-Font/Fitzgerald-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Fitzgerald';
  src: url('/font/Fitzgerald-Font/Fitzgerald-Bold.woff2') format('woff2'),
       url('/font/Fitzgerald-Font/Fitzgerald-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fitzgerald';
  src: url('/font/Fitzgerald-Font/Fitzgerald-BoldItalic.woff2') format('woff2'),
       url('/font/Fitzgerald-Font/Fitzgerald-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

*{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  scroll-behavior: smooth;
}

/* Marquee Animations */
@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-scroll-left {
  animation: scroll-left 30s linear infinite;
}

.animate-scroll-right {
  animation: scroll-right 30s linear infinite;
}